nav{
    padding: 15px 75px 15px 75px!important;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
    }
    .nav-item{
    margin-left: 20px;
    }
    .carousel-inner img {
        width: 100%;
        height: 100%;
      }
    .center{
      text-align: center;
    }
    .margintop{
    margin-top: 16px;
    }
    .font{
      font-weight: 500;
      font-size: 16px;
    }
    .text-color{
      color: #333;
    }
    /**********************/
    /*     16. Footer     */
    /**********************/
    .footer {
        padding-top: 4.625rem;
        padding-bottom: 0.5rem;
      background-color: #333;
      color: #fff;
    }
    
    .footer .footer-col {
        margin-bottom: 2.25rem;
    }
    
    .footer h4 {
        margin-bottom: 1rem;
    }
    
    .footer .list-unstyled .fas {
        
        font-size: 0.5rem;
        line-height: 1.375rem;
    }
    
    .footer .list-unstyled .media-body {
        margin-left: 0.625rem;
    }
    
    .footer .fa-stack {
        margin-bottom: 0.75rem;
        margin-right: 0.5rem;
        font-size: 1.5rem;
    }
    
    .footer .fa-stack .fa-stack-1x {
        color: #fff;
        transition: all 0.2s ease;
    }
    
    .footer .fa-stack .fa-stack-2x {
        
        transition: all 0.2s ease;
    }
    
    .footer .fa-stack:hover .fa-stack-1x {
        color: #fff;
    }